@import "tailwindcss";
@import 'tailwind-animations';

@theme {
  /* Colores */
  --color-primary: #2d3142;
  --color-primary-500: #45556c;
  --color-secondary: #9810fa;

  --secondary-deg: linear-gradient(90deg, #4f39f6 0%, #9810fa 100%);
  --primary-deg: linear-gradient(90deg, #ad46ff 0%, #f6339a 100%);

  /* Fuentes */
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Protest Strike';
  --font-accent: 'VT323', monospace;
}

body {
  font-family: var(--font-primary);
  color: white;
}
